## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import gmaps
import requests
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,59.00,47,86,3.00,overcast clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,55.40,67,75,16.11,broken clouds
2,2,Ubinskoye,RU,55.3068,79.6802,40.84,62,100,7.56,overcast clouds
3,3,Olafsvik,IS,64.8945,-23.7142,41.00,88,23,14.70,few clouds
4,4,Barrow,US,71.2906,-156.7887,21.92,91,28,15.79,scattered clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Vaini,TO,-21.2000,-175.2000,77.00,88,75,5.75,light rain
12,12,Hambantota,LK,6.1241,81.1185,78.80,100,20,2.30,few clouds
13,13,Kahului,US,20.8947,-156.4700,82.40,61,40,24.16,scattered clouds
15,15,Bajil,YE,15.0584,43.2851,88.50,48,97,4.54,overcast clouds
17,17,Kuching,MY,1.5500,110.3333,77.00,94,20,1.14,few clouds
19,19,Pochutla,MX,15.7432,-96.4661,88.00,62,90,11.50,overcast clouds
24,24,Mucuri,BR,-18.0864,-39.5508,77.88,80,2,12.41,clear sky
28,28,Hilo,US,19.7297,-155.0900,77.00,69,90,11.50,light rain
32,32,Faanui,PF,-16.4833,-151.7500,81.03,64,27,2.95,scattered clouds
35,35,Georgetown,MY,5.4112,100.3354,81.00,89,20,4.76,few clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                204
City                   204
Country                204
Lat                    204
Lng                    204
Max Temp               204
Humidity               204
Cloudiness             204
Wind Speed             204
Current Description    204
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Vaini,TO,-21.2000,-175.2000,77.00,88,75,5.75,light rain
12,12,Hambantota,LK,6.1241,81.1185,78.80,100,20,2.30,few clouds
13,13,Kahului,US,20.8947,-156.4700,82.40,61,40,24.16,scattered clouds
15,15,Bajil,YE,15.0584,43.2851,88.50,48,97,4.54,overcast clouds
17,17,Kuching,MY,1.5500,110.3333,77.00,94,20,1.14,few clouds
19,19,Pochutla,MX,15.7432,-96.4661,88.00,62,90,11.50,overcast clouds
24,24,Mucuri,BR,-18.0864,-39.5508,77.88,80,2,12.41,clear sky
28,28,Hilo,US,19.7297,-155.0900,77.00,69,90,11.50,light rain
32,32,Faanui,PF,-16.4833,-151.7500,81.03,64,27,2.95,scattered clouds
35,35,Georgetown,MY,5.4112,100.3354,81.00,89,20,4.76,few clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Vaini,TO,77.00,light rain,-21.2000,-175.2000,
12,Hambantota,LK,78.80,few clouds,6.1241,81.1185,
13,Kahului,US,82.40,scattered clouds,20.8947,-156.4700,
15,Bajil,YE,88.50,overcast clouds,15.0584,43.2851,
17,Kuching,MY,77.00,few clouds,1.5500,110.3333,
19,Pochutla,MX,88.00,overcast clouds,15.7432,-96.4661,
24,Mucuri,BR,77.88,clear sky,-18.0864,-39.5508,
28,Hilo,US,77.00,light rain,19.7297,-155.0900,
32,Faanui,PF,81.03,scattered clouds,-16.4833,-151.7500,
35,Georgetown,MY,81.00,few clouds,5.4112,100.3354,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Vaini,TO,77.00,light rain,-21.2000,-175.2000,Keleti Beach Resort
12,Hambantota,LK,78.80,few clouds,6.1241,81.1185,Bungalow 63
13,Kahului,US,82.40,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
15,Bajil,YE,88.50,overcast clouds,15.0584,43.2851,فندق حضرموت
17,Kuching,MY,77.00,few clouds,1.5500,110.3333,The Ranee Boutique Suites
...,...,...,...,...,...,...,...
660,Nhulunbuy,AU,77.00,light rain,-12.2333,136.7667,East Arnhem Real Estate
666,Wahiawa,US,82.00,broken clouds,21.5028,-158.0236,Aloha Wahiawa
669,Bintulu,MY,77.00,few clouds,3.1667,113.0333,900 Boutique INN
670,Manta,EC,82.40,few clouds,-0.9500,-80.7333,Balandra Hotel
673,Hit,IQ,86.81,broken clouds,33.6416,42.8251,صالون زيرو

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))